.header {}

.header__title {}

.logo {
    width: 112px;
    height: 116px;
}

*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}

.body {
    position: relative;
    font-family: 'Noto Sans' sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: black;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}

.navbar {
    width: 100%;
    height: 130px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu:hover {
    background: #B8C1C8;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    color: #FFF;
    font: bold 18px/21px Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 20px;
    transition: all .07s ease-in-out;
}

.end {
    list-style-type: none;
    margin-right: 270px;
    padding: 10px;
    background-color: darkblue;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(455, 627, 280, .5);
}

.end:hover {
    transform: scale(1.04);
    transition: all .1s ease-out;
    color: #fff;
    box-shadow: 0 4px 6px rgba(455, 627, 280, .5);
}

.navbar-menu li a:hover {
    opacity: 1;
}

.first_btn,
.two_btn,
.three_btn {
    padding: 15px;
    margin-right: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 300%;
    color: #fff;
}

.first_btn:hover,
.two_btn:hover,
.three_btn:hover {
    transform: scale(1.04);
    transition: all .1s ease-out;
    color: #fff;
    box-shadow: 0 9px 9px rgba(0, 90, 215, 0.657);
}

.two_btn {
    padding-bottom: 10px;
}

.callback {
    margin-right: 1px;
    padding: 20px;
    background-color: coral;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
}

.callback:hover {
    transform: scale(1.04);
    transition: all .1s ease-out;
    color: #fff;
    box-shadow: 0 9px 9px rgba(255, 127, 80, .5);
}

.navbar-brand {
    background-image: url(../img/вдох\ логотип-01\ 1.svg);
    background-repeat: no-repeat;
    margin-left: 240px;
}

.navbar-brand:hover {
    color: coral;
    transition: all .07s ease-in-out;
}

.rectangle {
    display: flex;
    max-width: 100vw;
    height: 110px;
    margin-left: calc(50.3% - 40vw);
    background: #FDF5DE;
    font-size: 16px;
}

.p {
    display: block;
    text-align: center;
    margin-left: 400px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.img_section {
    background: url(../img/Map.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_section IMG {
    position: relative;
}

.tent {
    /* position: relative; */
    left: 450px;
    right: 200px;
    bottom: -200px;
    z-index: 1;
}

.stick {
    /* position: relative; */
    right: 210px;
    bottom: -300px;
    left: 80px;
    z-index: 0;

}

.stick2 {
    /* position: relative; */
    bottom: -300px;
    right: 15px;
    z-index: 2;
}

.stick3 {
    /* position: relative; */
    bottom: 260px;
    right: 410px;
    z-index: 3;
}

.tent,
.stick,
.stick2,
.stick3 {
    bottom: 0px;
}

.text-h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    max-width: 780px;
    margin: -600px 500px;
    margin-left: calc(180% - 130vw);
}

.text-p {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    max-width: 900px;
    margin: -680px 500px 600px;
    margin-left: calc(191% - 140vw);
}

.Button_call {
    display: flex;
    padding: 10px;
    width: -100px;
    background-color: coral;
    border-radius: 100px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
    margin-left: calc(165% - 200vw);
    margin: -570px 1000px 800px;
}

.Button_call:hover {
    background: rgba(0, 0, 0, 0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.Pin {
    background-image: url(../img/pin.png);
    margin-left: calc(180% - 200vw);
    margin: -750px 1300px 800px;
}

.Union {
    background-image: url(../img/Union21.png);
    background-repeat: no-repeat;
    margin-left: calc(190% - 200vw);
    margin: -790px 1150px 800px;
}

.Home {
    margin-left: calc(190% - 200vw);
    margin: -980px 1340px 800px;
    color: orange;
}

.place {
    margin-left: calc(190% - 200vw);
    margin: -1482px 1200px 800px;
}

.Pin2 {
    background-image: url(../img/pin2.png);
    margin-left: calc(180% - 300vw);
    margin: -1350px 300px 800px;
}

.Pin2 {
    display: block;
    background-image: url(../img/pin.png);
    margin: -1000px 300px 800px;
}

.Internat {
    margin-left: calc(190% - 200vw);
    margin: -780px 290px 800px;
}

.Hard_stick {
    margin: 65px 1px 800px;
}

.Crest {
    margin: -760px -15px 800px;
}

.text-about {
    display: block;
    margin-left: calc(290% - 200vw);
    margin: -780px 800px 800px;
    font-size: 20px;
    margin-left: -150px;
}

.h8 {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

.h9 {
    font-family: 'Amatic SC', cursive;
}

.text-about-3 {
    display: block;
    margin-left: 1220px;
    margin-top: -250px;
    color: #ff6600;
    font-family: 'Amatic SC', cursive;
}

/* #rectangle2 {
    display: block;
    width: 485px;
    height: 233px;
    border: 2px solid black;
    background: #fff;
    margin-left: 1170px;
    margin-top: -890px;
} */

.x {
    /* display: block;
    margin-top: 299px;
    margin-left: 280px; */
}

.d {
    /* display: block; 
     margin-top: -540px; 
     margin-left: 620px;  */
}

.o {
    /* display: block; */
    /* margin-top: -440px; */
    /* margin-left: 1010px; */
    margin-right: 200px;
}

.b {
    margin-top: -900px;
}

.d,
.o,
.b,
.x {
    margin-top: 100px;
    margin-left: calc(290% - 200vw);
    margin: -270px 150px 800px;
    grid-column: 3 / -110;
    grid-row: 1;
    /* position: relative; */
    width: 12%;

}

.callback2 {
    margin-right: 1px;
    padding: 20px;
    background-color: #00FF00;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
}

.callback2:hover {
    background: #00FF00;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #D25068, #F66C7B);
    background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
    background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
    background-image: -o-linear-gradient(top, #D25068, #F66C7B);
    background-image: linear-gradient(top, #D25068, #F66C7B);
}

.button_inline {
    margin-right: 1px;
    padding: 20px;
    background-color: chocolate;
    border-radius: 100px;
    color: #fff;
    display: block;
    box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
    margin-top: 100px;
    margin-left: calc(290% - 200vw);
    margin: -1580px 150px 800px;
    font-size: 20px;
}

.button_inline:hover {
    background: chocolate;
    color: #fff;
    background-image: -webkit-linear-gradient(top, blue, #F66C7B);
    background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
    background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
    background-image: -o-linear-gradient(top, #D25068, #F66C7B);
    background-image: linear-gradient(top, green, #F66C7B);
}

.famile {
    position: absolute;
    right: 0;
    bottom: 4350px;
    right: 1670px;
    width: 10%;
    z-index: 1;
}

.kreslo {
    position: absolute;
    right: 0;
    top: 2270px;
    right: 1100px;
    width: 10%;
    z-index: 2;
}

.notebook {
    position: absolute;
    right: 0;
    top: 2270px;
    right:600px;
    width: 10%;
    z-index: 3;
}

.mony {
    position: absolute;
    right: 0;
    top: 2170px;
    left: 1460px;
    width: 10%;
    z-index: 4;
}

.mony2 {
    position: absolute;
    right: 0;
    top: 2170px;
    right: 300px;
    width: 8%;
    z-index: 5;
}

.text-h9 {
    display: block;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
    bottom: 4590px;
    left: 990px;
}

.text-h11 {
    display: block;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline solid #FFD75C;
    font-size: 30px;
    left: 190px;
    top: 2480px;
}

.text-h12 {
    display: block;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline solid #FFD75C;
    font-size: 30px;
    left: 640px;
    top: 2480px;
}

.text-h13 {
    display: block;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline solid #FFD75C;
    font-size: 30px;
    left: 1100px;
    top: 2480px;
}

.text-h14 {
    display: block;
    position: absolute;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline solid #FFD75C;
    font-size: 30px;
    left: 1520px;
    top: 2480px;
}

.text-h15_for_h11 {
    display: block;
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    left: 190px;
    top: 2580px;
}

.text-h15_for_h12 {
    display: block;
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    left: 650px;
    top: 2580px;
}

.text-h15_for_h13 {
    display: block;
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    left: 1095px;
    top: 2580px;
}

.text-h15_for_h14 {
    display: block;
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    left: 1525px;
    top: 2580px;
}

.button_inline2 {
    position: relative;
    left: 850px;
    top: 170px;
    width: 246px;
    height: 50px;
    margin-right: 1px;
    padding: 17px;
    background-color: chocolate;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
}

.rectangle_foto {
    background: url(../img/Rectangle\ 3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 110px;
    margin-top: 200px;
}

.about_rectangle {
    display: block;
    margin-top: -800px;
    margin-left: 470px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

.Child {
    margin-left: 295px;
    margin-bottom: -125px;
    width: 490px;
    height: 457px;
}

.about_foto {
    display: block;
    margin-left: 299px;
    margin-top: 143px;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
}

.header2 {
    margin-left: 1100px;
    margin-top: -620px;
    font-size: 50px;
    color: #D96251;
    font-family: 'Amatic SC', cursive;
}

.my_text-p {
    display: table;
    margin: 0 auto;
    /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */
    white-space: pre-line;
    /* не нужен <br> */
    word-wrap: break-word;
    text-align-last: left;
    margin-right: 270px;
    margin-top: 40px;
    font-family: 'PT Sans', sans-serif;
}

.fotball_children {
    margin-left: 1000px;
    margin-bottom: 980px;
    width: 197px;
    height: 192px;
    z-index: 0;
}

.hands_children {
    margin-bottom: 930px;
    margin-left: -10px;
    z-index: 1;
}

.simple_children {
    margin-bottom: 980px;
    width: 200px;
    height: 200px;
    z-index: 2;
    transform: rotate(-5deg);
}

.fotball_children,
.hands_children,
.simple_children {
    margin-top: -120px;
}

.border1 {
    margin-left: 290px;
    margin-top: -355px;
    width: 503px;
    height: 492px;
}

.border2 {
    margin-left: 1000px;
    margin-top: -1180px;
    width: 200px;
    height: 196px;
}

.head_1 {
    margin-left: 190px;
    margin-top: -155px;
}

.children_1 {
    display: block;
    margin-left: 400px;
    margin-top: -250px;
    transform: rotate(-5deg);
}

.byton {
    position: relative;
    left: 330px;
    top: 100px;
    top: 1px;
    width: 246px;
    height: 50px;
    margin-right: 1px;
    padding: 17px;
    background-color: chocolate;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
}

.text_about-children {
    display: table;
    margin: 0 auto;
    /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */
    white-space: pre-line;
    /* не нужен <br> */
    word-wrap: break-word;
    text-align-last: left;
    margin-top: 200px;
    margin-left: 450px;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;

}

.paragraf {
    display: table;
    margin: 0 auto;
    /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */
    white-space: pre-line;
    /* не нужен <br> */
    word-wrap: break-word;
    text-align-last: left;
    margin-top: 20px;
    margin-left: 450px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.player {
    margin-top: -500px;
    margin-left: 1140px;
    border-radius: 700px;
    border-radius: 100px;
}

.O_1 {
    display: block;
    margin-top: -502px;
    margin-left: 1137px;
}

.Union3 {
    display: block;
    margin-left: 950px;
    margin-top: -220px;
}

.Ellipse {
    display: block;
    margin-left: 1150px;
    margin-top: -400px;
    background-color: #fff;
}

.text_for_Union3 {
    display: table;
    margin: 0 auto;
    /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */
    white-space: pre-line;
    /* не нужен <br> */
    word-wrap: break-word;
    text-align-last: left;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 730px;
    margin-top: -160px;
}

.crafting {
    display: block;
    margin-top: 700px;
    margin-left: 100px;
    border: 2px solid #000;
}

.squares {
    width: 263px;
    height: 252px;
    background-color: #fff;
    border: 2px solid black;
    margin-left: 550px;
    margin-top: -256px;
}

.craft_2 {
    width: 263px;
    height: 252px;
    background-color: #fff;
    border: 2px solid black;
    margin-left: 1000px;
    margin-top: -256px;
}

.craft_3 {
    width: 263px;
    height: 252px;
    background-color: #fff;
    border: 2px solid black;
    margin-left: 1400px;
    margin-top: -256px;
}

.text-about_craft_all {
    display: block;
    margin-left: 100px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft {
    display: block;
    margin-left: 170px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft_all {
    display: block;
    margin-left: 100px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft {
    display: block;
    margin-left: 170px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft_2 {
    display: block;
    margin-top: -50px;
    margin-left: 550px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft3 {
    display: block;
    margin-left: 630px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft_all3 {
    display: block;
    margin-top: -45px;
    margin-left: 1000px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft4 {
    display: block;
    margin-left: 1080px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft_all4 {
    display: block;
    margin-top: -45px;
    margin-left: 1400px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
}

.text-about_craft5 {
    display: block;
    margin-left: 148px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.boton {
    position: relative;
    left: 780px;
    bottom: -100px;
    width: 246px;
    height: 50px;
    padding: 17px;
    background-color: chocolate;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
}
.rectangle2{
    width:1735px;
    height:393px;
    width: 100vw;
    margin-top: 200px;
    background:#D96251;
}
.about_rectangle2 {
    display: block;
    font-size: 16px;
    margin-top: -200px;
    margin-left: 705px;
}
.bad_girl {
    display: block;
    border-radius: 100px;
    margin-top: -127px;
    margin-left: 300px;
    z-index: 2;
}
.text_about-bad-girl {
    display: block;
    /* border-radius: 70px 80px 80px 90px;
    background-color: #fff; */
    margin-left: 108px;
    margin-top: -287px;
    z-index: 1
}
.about_bad-girl_text {
    display: block;
    margin-left: 140px;
    margin-top: -140px;
}
.about_bad-girl_text2 {
    display: block;
    font-size: 15px;
    margin-top: 23px;
    margin-left: 140px;
}
.rectangle27 {
    margin-top: 300px;
    
}
.rectangle27 {
    margin-left: 267px;
}
.rectangle28 {
    margin-left: 267px;
}
.mother_with_cild {
    display: block;
    margin-left: 370px;
    margin-top: -560px;
}
.about_mother_with_cild {
    display: block;
    margin-left: 420px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin-top: -70px;
}
.boton2 {
    position: relative;
    left: 410px;
    bottom: -40px;
    width: 246px;
    height: 50px;
    padding: 17px;
    background-color: chocolate;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
}
.mother_with_cild2{
    margin-left: 1180px;
    margin-top: -300px;
}
.about_mother_with_cild2{
    display: block;
    margin-left: 1220px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin-top: -150px;
}
.boton3 {
    position: relative;
    left: 1200px;
    bottom: -40px;
    width: 246px;
    height: 50px;
    padding: 17px;
    background-color: chocolate;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
}
.foter {
    background-image: url(../img/Subtract.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 169px;
}
#rectangle{  
    width:320px;
    height:55px;
    background: #fff;
    border: 2px solid #000;
    margin-top: 100px;
    margin-left: 631px;
    border-radius: 10px;
    padding: 0 0 0 -100px;
}
#rectangle2{  
    width:320px;
    height:55px;
    margin-top: -60px;
    margin-left: 971px;
    border-radius: 10px;
}
.about_rectangle_subract {
    padding-top: 15px;
    padding-left: 10px;
}
.about_rectangle_subract2 {
    width:320px;
    height:40px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 10px;
} 
.about_rectangle_subract3 {
    width:680px;
    height:143px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 10px;
    margin-top: 100px;
    margin-left: 620px;
} 
.more_header {
    text-align: center;
    text-transform: uppercase;
    margin-top: -950px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}